@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F5F5F5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
}
.main .intro{
  margin: 20px;
  align-items: center;
  justify-content: center;
  color: black;
  .p{
    font-size: 24px;
    @media (max-width: 500px){
      font-size: 20px;
    }
  }
}

.main .contenedor{
    color: #F5F5F5;    
    max-width: inherit;
    display: flex;
    flex-direction: row;  
    @media (max-width: 500px){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
  }

.header {
    background-color: #0054A4;}

.titulo1 {
    color: white;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
  }/*esto lo separe porque uno no corria ok*/
  
.titulo2 {
    color: #FFDD55;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
  }

/* .container{
  width: 1000px;
  display: flex;
  justify-content: space-between;
  position: relative;
} */
.card-body {
    z-index: 1;
    height: auto;
    /* max-height: 200px; */
    /* overflow: hidden;   */
}
  
/* .btn {
    display: none; 
  } */
  
.card{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  width: 200px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #0054A4;
  /* height: 300px;  */
  overflow: hidden;  
}

.card .card-title {
    color: white;
}

.card .card-text {
    color: white;
    font-size: 16px;
}


.btn {
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #FFC425;
    cursor:pointer ;
  }


  #verMas {
    display: none;
  }
