@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F5F5F5;
  height: 100vh;
  overflow: scroll;
}
.main .intro{
  margin: 20px;
  align-items: center;
  justify-content: center;
  color: black;
}
@media (max-width: 500px){
  .main .intro .p{
    font-size: 20px;
  }
}

.TiroConArco {
  font-size: 78px;
}

/* @media (max-width: 500px){
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  } */

.main .contenedor{
    color: #000000;    
    max-width: inherit;
    display: flex;
    flex-direction: row;
    margin-top: 20px; 
    margin-bottom: 20px;
  }

.header {
    background-color: #0054A4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
  }



.titulo1 {
    color: white;
    font-size: 78px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
  }/*esto lo separe porque uno no corria ok*/
  
.titulo2 {
    color: #FFDD55;
    font-size: 78px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
  }

  .contenedorflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
  }

/* .container{
  width: 1000px;
  display: flex;
  justify-content: space-between;
  position: relative;
} */
.card-body {
    z-index: 1;
    height: auto;
    /* max-height: 200px; */
    /* overflow: hidden;   */
}
  
/* .btn {
    display: none; 
  } */
  
.card{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  width: 200px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #0054A4;
  /* height: 300px;  */
  overflow: hidden;  
}

.card .card-title {
    color: white;
}

.card .card-text {
    color: white;
    font-size: 16px;
}


.btn {
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #FFC425;
    cursor:pointer ;
    color: white;
  }


  #verMas {
    display: none;
  }

  /* SECCION FORMULARIO */

 #Formulario {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
 }
 #Formulario .h2form {
  display: flex;
  justify-content: center;
 }
 
 #form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #form1 > input {
  border-radius: 4px;
  padding: 3px;
  margin-bottom: 8px;
  width: 400px;
 }

 #form1 #tumensaje {
  height: 100px;
 }

/*SECTION MAPA*/

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  background-color: #0054A4;
  max-width: 850px;
  border-radius: 6px;
  /* margin-left: 50px;
  margin-right: 50px; */
}
 .mapa .card-title {
  color: #F5F5F5;
  margin: 10px;
 }

.iframe {
  height: 600px;
  width: 800px;
  margin: 10px;
}


/* SECTION FOOTER */

footer {
  background-color: #0054A4;
  color: white;
  text-align: center;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .redes {
  scale: 40%;  
}