@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F5F5F5;
  height: 100vh;
  overflow: scroll;
}
.main .intro{
  margin: 20px;
  align-items: center;
  justify-content: center;
  color: black;
}
@media (max-width: 500px){
  .main .intro .p{
    font-size: 20px;
  }
}

/* SECCION HEADER*/

.TiroConArco {
  font-size: 78px;
}

.main .contenedor{
    color: #000000;    
    max-width: inherit;
    display: flex;
    flex-direction: row;
    margin-top: 20px; 
    margin-bottom: 20px;
  }

.header {
    background-color: #0054A4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 75vh;
    padding: 20px;
  }

  .imgppal {
    scale: 80%;
  }


.titulo1 {
    color: white;
    font-size: 78px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
  }
  
.titulo2 {
    color: #FFDD55;
    font-size: 78px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
  }
@media (max-width: 850px){
  .imgppal{
    display: none;
  }
}

/* SECCION CARDS */

.contenedorflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
  }

.card-body {
    z-index: 1;
    height: auto;
}

  
#card1{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  background-color: #0054A4;
  overflow: hidden;  
}

#card2{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px; 
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  background-color: #0054A4;
  overflow: hidden;  
}

#card3{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  background-color: #0054A4;
  overflow: hidden;  
}

.card .card-title {
    color: white;
}

.card .card-text {
    color: white;
    font-size: 16px;
}


.btn {
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #FFC425;
    cursor: pointer;
    color: white;
  }


  #verMas {
    display: none;
  }

  /* SECCION FORMULARIO */

 #Formulario {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
 }
 #Formulario .h2form {
  display: flex;
  justify-content: center;
 }
 
 #form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #form1 > input {
  border-radius: 4px;
  padding: 3px;
  margin-bottom: 8px;
  width: 400px;
 }

 #form1 #tumensaje {
  height: 100px;
 }

/*SECTION MAPA*/

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  background-color: #0054A4;
  max-width: 850px;
  border-radius: 6px;
}
 .mapa .card-title {
  color: #F5F5F5;
  margin: 10px;
 }
 
 .link{
  display: none;
  color: #F5F5F5;
 }

.iframe {
  height: 600px;
  width: 800px;
  margin: 10px;
}

@media (max-width: 850px){ 
  .link{
    display: block;
    color: #F5F5F5;
    font-size: 20px;
  }
  .iframe{
    display: none;
  }

}

/* SECTION FOOTER */

footer {
  background-color: #0054A4;
  color: white;
  text-align: center;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .redes {
  scale: 40%;  
}